* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styling */
body {
    background-image: url(gerbang.jpeg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    font-style: inherit;
    font-size: large;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

/* Header Styling */
.header {
    background-color: rgba(68, 169, 29, 0.781);
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.header .title {
    font-size: 25px;
    font-style: inherit;
}
.header .title a{
    color: #ffffff;
    font-style: inherit;
    text-decoration: none;
}
.header .title a:hover{
    background-color: none;
    border-radius: 5px;
}
.header .logo img {
    width: 70px;
    height: 70px;
    border-radius: 50px;
}

/* Sidebar Styling */
.sidebar {
    background-color: rgba(133, 207, 68, 0.781);
    color: #ffffff;
    width: 15%;
    float: left;
    padding: 25px;
}

.sidebar .navbar {
    list-style: none;
}

.sidebar .menu {
    margin-bottom: 20px;
    text-decoration: none;
    color: #ffffff;
    font-style: oblique;
    display: block;
}

.sidebar .menu:hover {
    background-color: #78bd00;
    border-radius: 5px;
}

.konten {
    width: 75%;
    margin: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background: #adadade1;
    border: 1px solid #ccc;
    border-radius: 5px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button[type="submit"]:hover {
    background: #555;
}

.body {
    flex-grow: 1;
    display: flex;
    font-style: inherit;
}

/* Footer Styling */
.footer {
    margin-top: auto;
    background-color:rgba(68, 169, 29, 0.781);
    color: #ffffff;
    text-align: center;
    font-size: medium;
    padding: 10px 0;
}
